@{
    ViewBag.Title = "Σπιτική σελίδα";
}

<section class="main" id="main">
    <div class="container mt-2">
        <div class="row">
            <div class="col-lg-12 mb-2">
                <h1>Σπίτι</h1>
            </div>
            <div class="col-lg-12">
                Provoles home page
            </div>
        </div>
    </div>
</section>